.home-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 40px;
  background-color: #f7f7f7;
}

.produto-card {
  width: 300px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
}

.produto-imagem {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.produto-info {
  padding: 15px;
}

.produto-nome {
  font-size: 1.5rem;
  margin: 0;
}

.produto-marca {
  margin: 5px 0;
  color: #555;
}

.produto-preco {
  margin: 5px 0;
  color: #555;
}

.produto-quantidade {
  margin: 5px 0;
  color: #555;
}