.body-registrar {
  font-family: Arial, sans-serif;
  background-color: #bbe0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
}

.registrar-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.registrar-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.registrar-input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
}

.registrar-input:focus {
  border-color: #007bff;
  outline: none;
}

.registrar-button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.registrar-title {
  font-size: 2rem;
  color: #333;
}
